//============Color============
$purpleColor:#bc2bff;
$blueColor:#7249fb;
$whiteColor:#fff;
$BlackColor:#000;
$BlackColorH:#222222;
$greyColorBoxShadow:rgba(0, 0, 0, 0.08);
$greyBorderColorLink:#eeeeee;
$greyColorIcon:#aaaaaa;
$greyColorP:#777777;
$greyColorFooterP:rgba(255, 255, 255,.6);
$whiteBgColor:#f9faff;
$blackBgColor:#222222;
$purplefooterColor:#6247ea;
//============fonts============
$fontSize-h1:60px;
$fontSize-h2:36px;
$fontSize-h3:20px;
$fontSize-p:14px;
$fontSize-Button:13px;
$fontSizeNav-12:12px;
$RobotoFont:"Roboto", sans-serif;
$OpenSanceFont:"Open Sans", sans-serif;
/*----------fontWeigh--------------*/
$fontWeight:600;
$fontWeightP: 300;
//============borderRaduis============
$borderRaduisButton:5px;
$borderRaduisMedia:10px;
$borderRaduisInput:20px;
//============Images============
$imgHeader:"../img/banner/home-banner.jpg";
$imgHeaderRight-mobile:"../img/banner/right-mobile.png";
$imgF-icon:"../img/icon/f-icon-1.png";
$imgInterior1:"../img/interior-1.png";
$imgInterior2:"img/interior-2.png";
$imgVideo:"../img/video-1.png";
$imgVideoIcon-1:"../img/icon/video-icon-1.png";
$imgFeature4:"../img/feature/feature-4.jpg";
$imgFeature1:"../img/feature/feature-1.jpg";
$imgFeature2:"../img/feature/feature-2.jpg";
$imgFeature3:"../img/feature/feature-3.jpg";
$imgTesti-2:"../img/testimonials/testi-2.png";
$imgTesti-1:"../img/testimonials/testi-1.png";
//============linearGradient============
$linearGradient:linear-gradient(7deg, #bc2bff 0%, #7249fb 100%);
//============Vendors============
$Vendors:"-webkit-","-moz-","-ms-"," ";
$zeroAuto:0 auto;
